body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#999999 80%, gray);
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('pizzabg.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.cta-btn {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.about-content {
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@keyframes tiltAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .navbar-brand img {
    animation: tiltAnimation 0.5s infinite;
    width: 10rem;
    height: 10rem;
  }
  

/* Add more styles for menu, contact form, etc. */
